*.exe
*.o
*.a
*.so
*.dll
*.obj
*.pyc
__pycache__/
node_modules/
*.rtf
*.doc
*.docx
.git/

# Lazarus cache - REMPLACER lib/x86_64-win64/*.ppu PAR:
lib/
*.lps
*.bak

# Backups
backup/
BACKUP/
LIVRES/
CAMPAGNE/
SAVED_CARACTERS/
PDF_TEXTE/